

<nav style ="text-align: center;">
    <button>
    <a routerLink="/GetTasks" routerLinkActive="active">Click Here to Get All Tasks</a>
  </button>
    <br>
    <br>
    <button>
    <a routerLink="/CreateTask" routerLinkActive="active">Click here to CreateTask</a>
  </button>
    <br>
    <br>
    <button>
    <a routerLink="/AssignTask" routerLinkActive="active">Click Here to Assign Task</a>
  </button>
    <br>
    <br>
    <button>
    <a routerLink="/AddNotes" routerLinkActive="active">Click Here to Add Notes</a>
  </button>
    <br>
    <br>
    <button>
    <a routerLink="/Bookmarking" routerLinkActive="active">Click Here to Add Bookmarking</a>
  </button>
    <br>
    <br>
    <button>
    <a routerLink="/UpdatePriority" routerLinkActive="active">Click Here to Update the Priority</a>
  </button>
    <br>
    <br>
    <button>
      <a routerLink="/Trackbystatus" routerLinkActive="active">Click Here to Track task Completion</a>
    </button>
      <br>
      <br>
  
    <button>
    <a routerLink="/SearchTask" routerLinkActive="active">Click Here to Search Task by Task ID</a>
  </button>
    <br>
    <br>
    <button>
      <a routerLink="/DeleteTask" routerLinkActive="active">Click here to delete task</a>
    </button>
    <br>
    <br>
    
    
  </nav>
  
  