
<!--
  <div>
  <app-casestudy-form></app-casestudy-form>
</div>


<div>
  <app-case-study></app-case-study>
</div>
<div>
  <app-case-study1></app-case-study1>
</div>
-->

<!--
<div><app-post-example></app-post-example>
</div>
<div>
    <one-com></one-com>
</div>
<div>
    <ul>
      <li> <a [routerLink]="['/TemplateForm']"> TemplateForm </a></li>
      <li> <a [routerLink]="['/ModelForm']"> ModelForm </a></li>
    </ul>
</div>
<div>
  <app-user-login></app-user-login>
</div>

<div>
  <app-update-priority></app-update-priority>
</div>
<div>
  <app-assign-task></app-assign-task>
</div>
<div>
  <app-add-notes></app-add-notes>
</div>
<div>
  <app-bookmarking></app-bookmarking>
</div>
<div>
  <app-search-task></app-search-task>
</div>
<div>
  <app-track-status></app-track-status>
</div>

<div>
  <app-create-user></app-create-user>
</div>
<button>
    <a routerLink="/CreateUser" routerLinkActive="active">Click here to delete task</a>
  </button>
  <br><br>
-->
<div>

<h1 style="text-align: center;">Task Tracking System</h1>
<button>
  <a routerLink="/Home" routerLinkActive="active">Home</a>
</button>
</div>


<router-outlet></router-outlet>
